body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(234, 234, 234);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherForm{
    margin:20px;
}
.cityInput{
    padding:10px;
    font-size:2rem;
    font-weight: bold;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 20px;
    margin: 10px;
    width: 300px;
}
button[type="submit"]{
    padding:10px 20px;
    font-size:1.2rem;
    font-weight: bold;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(0, 177, 248);
    color: white;
}
button[type="submit"]:hover{
    background-color: rgb(87, 205, 248);
}
.card{
    background: linear-gradient(180deg, rgb(63, 192, 243), rgb(255, 201, 101));
    padding:20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
    text-align: center;
    width: 300px;
}
h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}
p{
    font-size: 1.5rem;
    margin: 5px 0;
}
.cityDisplay,.tempDisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.696);
}
.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}
.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}
.weatherEmoji{
    margin: 0;
    font-size: 7rem;
}
.errorDisplay{
    font-size: 2.5rem;
    color: rgb(255, 63, 63);
    font-weight: bold;
    margin-top: 20px;
}