body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.239);
}
#myH1{
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.441);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border: 3px solid;
    border-radius: 50px;
    background-color: white;
}
#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px rgba(35, 35, 35, 0.245);
    margin-bottom: 20px;
}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}
#startBtn{
    background-color: rgba(2, 225, 2, 0.76);

}
#startBtn:hover{
    background-color: rgba(1, 163, 1, 0.76);
}
#stopBtn{
    background-color: red;
}
#stopBtn:hover{
    background-color: rgb(195, 1, 1);
}
#resetBtn{
    background-color: rgba(2, 225, 2, 0.76);

}
#resetBtn:hover{
    background-color: rgba(1, 163, 1, 0.76);
}
