body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.239);
}
#myH1{
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.441);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border: 3px solid;
    border-radius: 50px;
    background-color: white;
}
#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px rgba(35, 35, 35, 0.245);
    margin-bottom: 20px;
}
#controls button{
    
}