body{
    background-color: rgb(214, 214, 214);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{
    color: blue;
}
form{
    background-color: rgb(255, 254, 254);
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.359);
}
#textbox{
    width: 50%;
    text-align: center;
    font-size: 1.5em;
    border: 2px solid black;
    border-radius: 4px;
}
label{
    font-size: 1.25em;
    font-weight: bold;
}
button{
    font-size: 1.10em;
    padding: 10px 15px;
    background-color: aqua;
    cursor: pointer;
}
button:hover{
    background-color: rgb(0, 233, 233);
}
#result{
    font-size: 1.3em;
    font-weight: bold;
}