body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
}
h1{
    margin-top: 20px;
    font-size: 3.5rem;
    color: rgb(27, 27, 27);
}
.choices{
    margin-bottom: 30px;
}
.choices button{
    font-size: 4rem;
    margin: 0 15px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.choices button:hover{
    transform: scale(1.2);
}
#playerDisplay, #computerDisplay{
    font-size: 2rem;
}
#resultDisplay{
    margin-top: 30px;
    font-size: 5rem;
}